@{
    ViewData["Title"] = "Privacy Policy";
}
@*<h1>@ViewData["Title"]</h1>*@

<h1>guide d'utilisation</h1>
<br />
<br />

<p> 1 - Commencer par la création des filières, AP1, AP1, GINF1, GINF2, GINF3, GIL1…</p>
<br />

<p> 2 - Créer des classes, chaque classe appartient à une filière, <br />
    Le nom de la classe doit être unique, AP1TD1 AP1TD2, GSTR1TD3…  <br />
    Indique aussi le nombre d’étudiants pour la classe, il sera pris en considération lors de l’affectation des salles
</p>
<h6 style="color:rebeccapurple">Apres création de chaque classe, son emploi du temps vide sera généré automatiquement</h6>

<br />
<p> 3 - Créer des étudiants pour chaque classe, (c’est facultatif)</p>
<br />
<p>
     4 - Créer des matières avec le nombre d’heures par semaine, <br />
    le nom de la matière doit être unique, exemple : Algebre1 COUR, Algebre 1 TD, Java ee , Optique TP, Optique COUR…  <br />
    (Optique TP et Optique COUR est considéré comme deux matières séparées car ils peuvent avoir différents profs, <br />
    différents créneau et volume horaire) chaque matière est appartient à une filière.
</p>
<br />
<p> 5 - Créer des professeurs, avec nom d’utilisateur unique, exemple : nom.prenom.</p>
<h6 style="color:rebeccapurple">Apres création de chaque professeur, son emploi du temps vide sera généré automatiquement</h6>
<br />
<p> 6 - Créer des salles avec sa capacite.</p>
<h6 style="color:rebeccapurple">Apres création de chaque salle, son emploi du temps vide sera généré automatiquement</h6>
<br />
<br />
<h4>Commencer l’affectation</h4>
<br />
<p>
     7 - Pour chaque classe choisir une matière parmi la liste des matières est un prof de cette matière, <br />
    répète cette opération pour la matière d’une classe.
</p>
<h6 style="color:rebeccapurple">
    A chaque fois on choisir une matière est un prof pour une classe,<br />
    l’application cherche une salle et un créneau avalable pour la classe, <br />
    la salle et le prof, et il modifier les trois emplois du temps : de prof, salle et classe.</h6>

<br />
<br />
<h4 style ="color:red">WARNING</h4>
<h5 style="color:red">
    L'application est encours de développement et amélioration, <br />
    si vous souhaitez avoir des changement, modification ou ajoute de plus des fonctionnalités veuillez nous contactez</h5>

<br />
<h5 >Contact us</h5>
<p > ----- Name ----   :  ----------- mail -----------   :   -- phone -</p>
<p > EL HASSANI SAAD   :  saad.elhassani@etu.uae.ac.ma   :   0621437482</p>
<p> EL HAOUSSI AYOUB  :  ayoub.elhaoussi@etu.uae.ac.ma  :   0681142515</p>
<p > EL HOUB YOUNESSE  :  younesse.elhoub@etu.uae.ac.ma  :   0631149535</p>

