@model EmploiDuTemps.Models.ClasseMatierProf

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ClasseMatierProf</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="nameId" />
            @*<div class="form-group">
                <label asp-for="classe" class="control-label"></label>
                <input asp-for="classe" class="form-control" />
                <span asp-validation-for="classe" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
            <label asp-for="classe" class="control-label"></label>
            <input asp-for="classe" class="form-control" />
            <span asp-validation-for="classe" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="classe" class="control-label"></label>
                <select asp-for="classe" class="form-control" asp-items="ViewBag.classe"></select>
            </div>
            <div class="form-group">
                <label asp-for="matier" class="control-label"></label>
                <select asp-for="matier" class="form-control" asp-items="ViewBag.matier"></select>
            </div>
            <div class="form-group">
                <label asp-for="prof" class="control-label"></label>
                <select asp-for="prof" class="form-control" asp-items="ViewBag.prof"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="matier" class="control-label"></label>
                <input asp-for="matier" class="form-control" />
                <span asp-validation-for="matier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prof" class="control-label"></label>
                <input asp-for="prof" class="form-control" />
                <span asp-validation-for="prof" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
