@model EmploiDuTemps.Models.Etudiant

@{
    ViewData["Title"] = "Create";
}

<h1>Creation d etudiant</h1>

<h4>Etudiant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cneId" class="control-label">(CNE)</label>
                <input asp-for="cneId" class="form-control" />
                <span asp-validation-for="cneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userName" class="control-label">Nom d'utilisateur(Unique value recomanded, nom.prenom)</label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nom" class="control-label"></label>
                <input asp-for="nom" class="form-control" />
                <span asp-validation-for="nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prenom" class="control-label"></label>
                <input asp-for="prenom" class="form-control" />
                <span asp-validation-for="prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="informtion" class="control-label"></label>
                <input asp-for="informtion" class="form-control" />
                <span asp-validation-for="informtion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClasseId" class="control-label"></label>
                <select asp-for="ClasseId" class ="form-control" asp-items="ViewBag.ClasseId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
